body {
  text-align: center;
  background-color: darkred;
  font-family: "Verdana", sans-serif;
}

.takeLeft {
  color: white;
  text-align: left;
  background-color: black;
  padding-bottom: 200px;
}

.floatright {
  float: right;
}

.floatleft {
  float: left;
  padding-left: 30px;
}

.takeRight {
  background-color: white;
  color: black;
  text-align: right;
  margin-top: -20px;
  padding-bottom: 200px;
}

.liveUp {
  color: white;
  text-align: left;
  background-color: black;
  margin-top: -20px;
  padding-bottom: 170px;
}
